<p-toast></p-toast>
<div class="admin-page">
    <p-card [header]="editmode ? 'Edit Category' : 'Add Category'" 
            subheader="You can add or edit categories here">
        <div class="grid my-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <p-button
                        styleClass="p-button-success" 
                        [label]="editmode ? 'Update' : 'Create'" 
                        [icon]="editmode ? 'pi pi-pencil' : 'pi pi-plus'"
                        (click)="onSubmit()"
                        >
                        </p-button>
                        <p-button
                        styleClass="p-button-danger mx-2" 
                        label="Cancel" 
                        icon="pi pi-arrow-circle-left"
                        (click)="onGoBack()"
                        >
                        </p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="fluid formgrid grid">
                        <div class="field col">
                            <label for="name">Name</label><br>
                            <input id="name" type="text"
                                formControlName="name" 
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-9"
                                pInputText/>
                            <small *ngIf="categoryForm.name.invalid && isSubmitted" 
                                    class="p-error">Name is required!</small>
                        </div>
                        <div class="field col">
                            <label for="icon">Icon</label><br>
                            <input id="icon" type="text"
                                formControlName="icon" 
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-9"
                                pInputText/>
                            <small *ngIf="categoryForm.icon.invalid && isSubmitted" 
                                    class="p-error">Icon is required!</small>
                        </div>
                        <div class="field p-col">
                            <label for="color">Color</label><br>
                            <p-colorPicker formControlName="color"></p-colorPicker>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>