header {
    margin-bottom: 30px;
    .logo {
        margin-left: 20px;
        margin-top: 5px;
    }
    .tools {
        padding-top: 10px;

        .pi {
            color: $primary-color;
        }

        .pi:hover {
            color: #114290;
            transition: all 300ms ease;
        }

        .pi-shopping-cart {
            margin-left: 10px;
        }
    }
}
