<footer>
    <div class="grid footer-wrapper">
        <div class="col-8">&copy; TechnoShop</div>
        <div class="col-4 social">
            <ul class="navi">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="pi pi-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="pi pi-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="pi pi-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
